# CREDENTIALS
export GOOGLE_APPLICATION_CREDENTIALS=

# ### PIPELINE AND SHARED ENVIRONMENT VARIABLES
export GCP_PROJECT_ID=
export GCP_REGION=
export SERVICE_ACCOUNT_EMAIL=
export geojson_path=
export raw_archive=g
export intermediary_archive=
export reduced_archive=
export temp_location=
export staging_location=
export sdk_container_image=
export service_account_email=
export ee_max_num_workers=
export df_max_num_workers=
export machine_type_extract=
export machine_type_consolidate=
export machine_type_reduce=
export scale=
export MILVUS_CLOUDSTORE_PATH=
export MILVUS_CLOUDSTORE_BUCKET=
export COLLECTION=
export TARGET_CRS=


# SERVICE ENVIRONMENT VARIABLES
export DOCKER_VOLUME_DIRECTORY=
export REDIS_PORT=
export GCS_HMAC_KEY=
export GCS_HMAC_SECRET=
