export GOOGLE_APPLICATION_CREDENTIALS=

# ### PIPELINE ENVIRONMENT VARIABLES
export GCP_PROJECT_ID=
export GCP_REGION=
export SERVICE_ACCOUNT_EMAIL=
export geojson_path=
export raw_archive=
export reduced_archive=
export temp_location=
export staging_location=
export sdk_container_image=
export service_account_email= # todo - consolidate with above.
export ee_max_num_workers=1
export df_max_num_workers=3
export machine_type_extract=e2-standard-2
export machine_type_consolidate=e2-standard-8
export machine_type_reduce=e2-standard-8
export scale=10
export ZARR_ROOT=path/to/zarr

# ### MILVUS-DB ENVIRONMENT VARIABLES
export milvus_bucket=
export milvus_prefix=
export DOCKER_VOLUME_DIRECTORY=

# ### API ENVIRONMENT VARIABLES
export utm_zone= 
export TARGET_CRS= # todo - consolidate with above.

export REDIS_PORT=6379